<!doctype html>
<title>to/do/list</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<head>
<link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA+vr8AJmZ/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiIiIiIiIiIiIiIiIiIiIiIhAAAAABIiIhAAAAAAASIiAAACIAAAIiIAACIiAAAiIgACIiIgACIiACIiIiIAIiICIiIiIiAiIgIiIiIiICIiAiIgAiIgIiIAIgAAIgAiIhAAAAAAASIiIQAAAAASIiIiIiIiIiIiIiIiIiIiIiIAAAAAAAAAAA/wAAAf+AAAPnwAADw8AAA4HAAAMAwAACAEAAAgBAAAIYQAADPMAAAf+AAAD/AAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
<h1>to/do/list</h1>
</head>
<div class=page>
    <div class=tasks>
        <ul>
            {% for task in tasks %}
            <form action="{{ url_for('completed_task', task_id=task.id) }}" method="POST">
            <input type="submit" value="complete">
            </form>
             <form action="{{ url_for('incompleted_task', task_id=task.id) }}" method="POST">
            <input type="submit" value="incomplete">
            </form>
            <li>
            {% if task.done == True %}
            | &#x2713; | 
            {% else %}
            | &#8194;&#8194;|
            {% endif %}
            <a href="{{ url_for('edit_task', task_id=task.id) }}"> {{ task.title }} </a> 
            </li>
            <br>
            {% endfor %}
        </ul>
    </div>
    <div class="add">
    <a href="{{ url_for('make_task') }}">add task</a>
    </div>   
    <div class="block">
    {% block body %}{% endblock %}
    </div>
</div>
